.pokedex {
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 50px;
   
}
.pokedex__title {
    padding: 5px;
    margin-bottom: 10px;
}
.pokedex__title span {
    color: red;
}
.pokedex__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pokedex__ipt {
    height: 25px;
}
.pokedex__button {
    background-color: #D93F3F;
    color: white;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    text-align: center;
    font-size: large;
    width: 100px;
    height: 30px;
    border: none;
    
}
.banner {
    background: (red 60%, #0C0C0C 40%);
    position: relative !important;
    padding: 20px;
    overflow: visible;
}

.banner__image {
    float: left;
    width: 50%;
    position: relative;
    right: 20%;
}

.banner__content {
    position: relative;
    top: 20px;
    right: 20px;
    bottom: -20px;
    display: flex;
    align-items: center;
}

.circle__out {
    width: 65px;
    height: 65px;
    background-color: white;
    border: 6px solid rgba(0, 0, 0, 0.904);
    border-radius: 50%;
    margin-left: auto;
    margin-bottom: -30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
    
}

.circle__in {
    width: 35px;
    height: 35px;
    background-color: #212121;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 95%;
    left: 150%;
    transform: translate(-50%, -50%);
}
